# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

# 1.3 Trabalhando com dados

In [2]:
import pandas as pd
pd.set_option('display.max_rows', 200)

In [3]:
dataset = pd.read_csv('E:\Documentos\Pós Tech\python-alura\Alura\Python_Data_Science\Pandas\data\db.csv', sep = ';')

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Pedro\AppData\Local\Temp\ipykernel_17236\3009677330.py:1: SyntaxWarning: invalid escape sequence '\D'
  dataset = pd.read_csv('E:\Documentos\Pós Tech\python-alura\Alura\Python_Data_Science\Pandas\data\db.csv', sep = ';')

In [4]:
display(dataset)

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [5]:
dataset.dtypes 
##Avalia quais são os tipos de dados do dataset

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [6]:
dataset[['Quilometragem', 'Valor']].describe()
##Cria uma descritiva estatística rápida das variáveis dessa tabela

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [7]:
dataset.info()
##Mostra um resumo da tabela

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [8]:
1, 2, 3

(1, 2, 3)

In [9]:
nome = 'Passat'
valor = 15300
tupla = (nome, valor)
print(tupla)
#Tuplas armazenam tipos variados de dados

('Passat', 15300)

In [10]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [11]:
type(nomes_carros)
#Checa o tipo do dado

tuple

# 2.2 Seleções em tuplas

In [12]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [13]:
nomes_carros[0]
#Passar o indice para acessar o dado da tupla

'Jetta Variant'

In [14]:
nomes_carros[-1]
#Indice negativo é usado para acessar os últimos valores da tupla

'DS5'

In [15]:
nomes_carros[1:3]
#Passa o indice partindo do primeiro indice que precisa aparecer, o último indice não vai aparecer, então precisa passar +1

('Passat', 'Crossfox')

In [16]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [17]:
nomes_carros[-1][1]
#Acessa uma tupla dentro de uma tupla, o -1 acessa a última tupla, e o [1] acessa o segundo dado da "tupla dentro da tupla"

'Gol'

In [18]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)
carros

(('Jetta Variant',
  'Motor 4.0 Turbo',
  2003,
  False,
  ('Rodas de liga', 'Travas elétricas', 'Piloto automático')),
 ('Passat',
  'Motor Diesel',
  1991,
  True,
  ('Central multimídia', 'Teto panorâmico', 'Freios ABS')))

In [19]:
carros[0][3]

# carros[-1][-1][-1]

# carros[0][-1][:2]

False

# 2.3 Iterando em tuplas

In [20]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [21]:
for carro in nomes_carros:
    print(carro)

#Para cada carro dentro da tupla, printe o carro

Jetta Variant
Passat
Crossfox
DS5

### Desempacotamento de tuplas

In [22]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [23]:
carro_1, carro_2, carro_3, carro_4 = nomes_carros
#Cria 4 variáveis, e atribui cada valor da tupla a cada variável, na ordem

In [24]:
carro_1

'Jetta Variant'

In [25]:
carro_2

'Passat'

In [26]:
carro_3

'Crossfox'

In [27]:
carro_4

'DS5'

In [28]:
_, A, _, B = nomes_carros
#O _ ignora um valor dentro de uma tupla, neste exemplo são salvos somente o segundo e último item da tupla nas variáveis A e B

In [29]:
A

'Passat'

In [30]:
B

'DS5'

In [31]:
_, C, *_ = nomes_carros
#O uso do *_ ignora todos os valores restantes da tupla

In [32]:
C

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [33]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [34]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [35]:
zip(carros, valores)
#Cria um iterador

In [36]:
lista_zipada = list(zip(carros, valores))
lista_zipada
#Cria uma lista iterando sob as outras duas criando uma tupla com a equivalência de cada posição do range

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [37]:
for carro, valor in lista_zipada:
    print("O carro:", carro, "custa o valor de:", valor)

O carro: Jetta Variant custa o valor de: 88078.64
O carro: Passat custa o valor de: 106161.94
O carro: Crossfox custa o valor de: 72832.16
O carro: DS5 custa o valor de: 124549.07

In [38]:
for carro, valor in lista_zipada:
    print(carro, valor)
#Acessa a tupla, pega cada um dos valores e printa os dois valores

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [39]:
for carro, valor in lista_zipada:
    if (valor > 100000):
        print(carro, valor)
#Printa quais carros tem um valor maior que 100.000

Passat 106161.94
DS5 124549.07

In [40]:
#Precisa acessar todos os acessórios

carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

for carro in carros:
    for acessorio in carro[-1]:
        print(acessorio)
# Acessa as duas tuplas principais com o for. A tupla é acessada novamente pelos acessórios, porém a posição da tupla é [-1], posição dos acessórios

Rodas de liga
Travas elétricas
Piloto automático
Central multimídia
Teto panorâmico
Freios ABS

In [41]:
#apresentado acima, marque a alternativa com o código que possibilita a impressão dos nomes dos veículos com quilometragem abaixo de 20.000 km.
nomes = ['Passat', 'Crossfox', 'DS5', 'C4', 'Jetta']
kms = [15000, 12000, 32000, 8000, 50000]

lista_veiculo = list(zip(nomes, kms))

for nome, km in zip(nomes, kms):
    if (km <20000):
        print (nome)

Passat
Crossfox
C4

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [42]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'Palio']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'Palio']

In [43]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [44]:
carros.index('Passat')
#.index retorna qual o index do valor buscado

1

In [45]:
valores[carros.index('Passat')]

106161.94

In [46]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados
#Estrutura de um dicionário e os dicionários não são ordenados, o acesso é feito pelas chaves

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

### Criando dicionários com *zip()*

In [47]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [48]:
dados_zip = dict(zip(carros, valores))
dados_zip
#Faz a criação do dicionário a partir das tuplas criadas pelo zip

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

# 3.2 Operações com dicionários

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [49]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados['Passat']

106161.94

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [50]:
'Passat' in dados

True

In [51]:
'Fusca' in dados

False

In [52]:
'Camaro' not in dados

True

## *len(dict)*

Retorna o número de itens do dicionário.

In [53]:
len (dados)

3

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [54]:
dados['DS5'] = 124549.07

In [55]:
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07}

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [56]:
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07}

In [57]:
del dados ['Passat']

In [58]:
dados

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.07}

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [59]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [60]:
dados.update({'Palio': 40200})
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'Palio': 40200}

In [61]:
dados.update({'Passat': 106000, 'Fusca': 92000})
dados

{'Jetta Variant': 88078.64,
 'Passat': 106000,
 'Crossfox': 72832.16,
 'Palio': 40200,
 'Fusca': 92000}

Exercicio

In [62]:
#Exercicio
#1) Testar se a chave acessorios existe no dicionário de informações do carro Crossfox (Resposta: False)
# 2) Testar se a chave acessorios existe no dicionário de informações do carro Passat (Resposta: True)
# 3) Obter o valor do carro Crossfox (Resposta: 25000)
# 4) Acessar o último acessório do carro Passat (Resposta: 'ABS')

exercicio = {
    'Passat': {
        'ano': 2012,
        'km': 50000,
        'valor': 75000,
        'acessorios': ['Airbag', 'ABS']
    }, 
    'Crossfox': {
        'ano': 2015,
        'km': 35000,
        'valor': 25000
    }
}

In [63]:
# 'acessorios' in dados['Crossfox']

In [64]:
exercicio ['Crossfox']['valor']

25000

In [65]:
exercicio ['Passat']['acessorios'][-1]

'ABS'

## *dict.copy()*

Cria uma cópia do dicionário.

In [66]:
dadosCopy = dados.copy()
dadosCopy

{'Jetta Variant': 88078.64,
 'Passat': 106000,
 'Crossfox': 72832.16,
 'Palio': 40200,
 'Fusca': 92000}

In [67]:
del dadosCopy ['Fusca']
dadosCopy

{'Jetta Variant': 88078.64,
 'Passat': 106000,
 'Crossfox': 72832.16,
 'Palio': 40200}

In [68]:
dados

{'Jetta Variant': 88078.64,
 'Passat': 106000,
 'Crossfox': 72832.16,
 'Palio': 40200,
 'Fusca': 92000}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [69]:
dadosCopy

{'Jetta Variant': 88078.64,
 'Passat': 106000,
 'Crossfox': 72832.16,
 'Palio': 40200}

In [70]:
dadosCopy.pop('Passat') 
#Mesma função de deletar um valor de um dicionário, com a diferença que ele retorna o valor removido

106000

In [71]:
dadosCopy.pop('Passat', 'Chave não encontrada')
#Tratamento caso o .pop não encontre a chave informada para a remoção

'Chave não encontrada'

## *dict.clear()*

Remove todos os itens do dicionário.

In [72]:
dadosCopy.clear()
#Limpa os valores do dicionário

In [73]:
dadosCopy

{}

# 3.4 Iterando em dicionários

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [74]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16, 'Fusca': 92000, 'DS5': 124980}
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'Fusca': 92000,
 'DS5': 124980}

In [75]:
dados.keys()
#Retorna uma lista com todas as chaves do dicionário

dict_keys(['Jetta Variant', 'Passat', 'Crossfox', 'Fusca', 'DS5'])

In [76]:
for key in dados.keys():
    print(dados[key])

88078.64
106161.94
72832.16
92000
124980

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [77]:
dados.values()
#Retorna todos os valores do dicionário

dict_values([88078.64, 106161.94, 72832.16, 92000, 124980])

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [78]:
dados.items()
#Retornau uma lista contendo uma tupla para cada uma das chaves do dicionário

dict_items([('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16), ('Fusca', 92000), ('DS5', 124980)])

In [79]:
for item in dados.items():
    print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('Fusca', 92000)
('DS5', 124980)

In [80]:
#Desempacotando a tupla
for key, value in dados.items():
    print(key, value)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
Fusca 92000
DS5 124980

In [81]:
#Desempacota a tupla e valida quais valores são maiores que 100000, caso for, printa a chave 
for key, value in dados.items():
    if(value > 100000):
        print(key)

Passat
DS5

Exercicio

In [82]:
dados_ex = {
    'Crossfox': {'valor': 72000, 'ano': 2005}, 
    'DS5': {'valor': 125000, 'ano': 2015}, 
    'Fusca': {'valor': 150000, 'ano': 1976}, 
    'Jetta': {'valor': 88000, 'ano': 2010}, 
    'Passat': {'valor': 106000, 'ano': 1998}
}
dados_ex

{'Crossfox': {'valor': 72000, 'ano': 2005},
 'DS5': {'valor': 125000, 'ano': 2015},
 'Fusca': {'valor': 150000, 'ano': 1976},
 'Jetta': {'valor': 88000, 'ano': 2010},
 'Passat': {'valor': 106000, 'ano': 1998}}

In [83]:
# Selecione a alternativa que apresenta o código que imprime somente os nomes dos veículos com ano de fabricação maior ou igual a 2000.
for item in dados_ex.items():
    if (item[1]['ano'] >= 2000):
        print(item[0])

# dados_ex.items() retorna um iterador de tuplas, onde cada tupla tem como primeiro item a chave do dicionário e como segundo o respectivo valor:

Crossfox
DS5
Jetta

# <font color=green> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [84]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [85]:
valores = []
for valor in dados.values():
    valores.append(valor)
valores

[88078.64, 106161.94, 72832.16]

In [86]:
soma = 0
for valor in dados.values():
    soma += valor
soma

267072.74

In [87]:
sum(list(dados.values()))
#Cria uma lista com o dados.values que retorna somente os valores de um dicionário, e no final soma tudo

267072.74

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [88]:
def media():
    valor = (1 + 2 + 3) / 3
    print(valor)

In [89]:
media()

2.0

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [90]:
def media2(number_1, number_2, number_3):
    valor = (number_1 + number_2 + number_3) / 3
    print (valor)

In [91]:
media2 (3,5,8)

5.333333333333333

In [92]:
def media3(lista):
    valor = sum(lista) / len(lista)
    print (valor)

In [93]:
resultado = media3([4,4,4,4,9,9,9,9])

6.5

In [94]:
resultado

Exercicio

In [95]:
dados_ex_carros = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [96]:
def km_media(dataset, ano_atual):
    for item in dados_ex_carros.items():
        result = item[1]['km'] / (ano_atual - item[1]['ano'])
        print(result)

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

In [97]:
def media_result(lista):
    valor = sum(lista) / len(lista)
    return (valor, len(lista))

In [98]:
resultado = media_result ([2,43,5,6,76])
resultado

(26.4, 5)

In [99]:
resultado_2, n = media_result([2,5,6,77,3,2,11])
resultado_2

15.142857142857142

Exercicio def

In [100]:
dados_def = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [101]:
# A estrutura a seguir é a definição de uma função que calcula as quilometragens médias 
# anuais de cada veículo e retorna um dicionário com os nomes dos veículos como chaves e 
# as quilometragens médias como valores:

def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        result.update({item[0]: media})
    return result

In [102]:
input_1 = km_media(dados_def, 2019)
input_1

{'Crossfox': 2500.0,
 'DS5': 4250.0,
 'Fusca': 3250.0,
 'Jetta': 7000.0,
 'Passat': 3100.0}

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

In [103]:
import pandas as pd

### Criando uma Series a partir de uma lista

In [104]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
pd.Series(carros)

0    Jetta Variant
1           Passat
2         Crossfox
dtype: object

### Criando um DataFrame a partir de uma lista de dicionários

In [105]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [106]:
dataset = pd.DataFrame(dados)
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [107]:
dataset[['Nome', 'Zero_km', 'Motor', 'Ano', 'Quilometragem', 'Valor']]

            Nome  Zero_km            Motor   Ano  Quilometragem      Valor
0  Jetta Variant    False  Motor 4.0 Turbo  2003        44410.0   88078.64
1         Passat    False     Motor Diesel  1991         5712.0  106161.94
2       Crossfox    False  Motor Diesel V8  1990        37123.0   72832.16

### Criando um DataFrame a partir de um dicionário

In [108]:
dados_dic = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [109]:
dataset_dic = pd.DataFrame(dados_dic)
dataset_dic

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de uma arquivo externo

In [110]:
path = "E:\Documentos\Pós Tech\python-alura\Alura\Python_Data_Science\Pandas\data\db.csv"
df = pd.read_csv(path, sep = ';')
df

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Pedro\AppData\Local\Temp\ipykernel_17236\2975264018.py:1: SyntaxWarning: invalid escape sequence '\D'
  path = "E:\Documentos\Pós Tech\python-alura\Alura\Python_Data_Science\Pandas\data\db.csv"

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

# 5.2 Seleções com DataFrames

### Selecionando colunas

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

# 5.3 Queries com DataFrames

### Utilizando o método query

# 5.4 Iterando com DataFrames

# 5.5 Tratamento de dados